[submodule "fonts/.fonts/ttf-wps-fonts"]
	path = fonts/.fonts/ttf-wps-fonts
	url = https://github.com/iamdh4/ttf-wps-fonts.git
[submodule "i3/.config/i3/i3lock-fancy-multimonitor"]
	path = i3/.config/i3/i3lock-fancy-multimonitor
	url = https://github.com/guimeira/i3lock-fancy-multimonitor
